.content {
  padding-bottom: 16px;
  box-sizing: border-box;
  background: #DDD;
  border-radius: 2px;
  margin-bottom: 10px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
  0 3px 1px -2px rgba(0, 0, 0, 0.2),
  0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

#videoList{
  display: flex;
  flex-direction: row;
}

.queue {
  font-size: 1rem;
  list-style-image: url('../assets/cross.png');
}
.video-active {
  border: 2px solid green;
}

.video-inactive {
  border: 2px solid red;
}